{{ with .Site.GetPage "person" }}
    {{ with .GetPage ($.Get "name") }}
        {{ $imageName := .Params.image }}
        {{ $image := "" }}
        {{ with .Resources.GetMatch $imageName}}
            {{ $image = (.Fit "60x80 webp").RelPermalink }}
        {{ else }}
            {{ warnf "Image for %s is not correclty found. Falling back to default." ($.Get "name") }}
            {{ with .Resources.ByType "image" }}
                {{ $image = ((index . 0).Fit "60x80 webp").RelPermalink }}
            {{ else }}
                {{ with .Params.sex }}
                    {{ if eq . "male" }}
                        {{ $image = relURL "img/persons/male.png" }}
                    {{ else }}
                    {{ $image = relURL "img/persons/female.png" }}
                    {{ end }}
                {{ else }}
                    {{ warnf "Cannot find sex of %s." ($.Get "name") }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ $config := 
            dict
            "image" $image 
            "name" (.Params.title)
        }}
        {{ partial "tsc/start-person" $config }}
        <div class="content content-trainer">
            <div class="name">
                {{- .Params.title -}}
            </div>
        </div>
        {{ partial "tsc/end-person" . }}
    {{ else }}
        {{ warnf "Cannot find person %s." ($.Get "name") }}
        <div class="person">{{ $.Get "name" }}</div>
    {{ end }}
{{ end }}
