{{ define "main" }}
    <a name="top">
        <h1>{{ .Title }}</h1>
    </a>
    {{ $archiveGroups := (( where .Site.RegularPages "Section" "==" "news").GroupByDate "2006" ) }}
    <ul class="archive-short-links">
        {{ range $archiveGroups }}
        <li><a href="#year-{{ .Key }}">{{ .Key }}</a></li>
        {{ end }}
    </ul>

    {{ range $archiveGroups }}
    <h2><a id="year-{{ .Key }}">{{ .Key }}</a></h2>
    {{ range .Pages.ByDate.Reverse }}
    <div class="archive-year-list">
        <div class="date">{{ .Date.Format "02.01.2006" }}</div>
        <div class="title">
            <a href="{{ .RelPermalink}}">
                {{ .Title }}
            </a>
        </div>
    </div>
    {{ end }}
    <div class="archive-to-top">
        [<a href="#top">Zurück</a>]
    </div>
    {{ end }}
    <!-- <div class="news-blog">
        {{ range (.Paginate (first 30 ( where .Site.RegularPages "Section" "==" "news")) 10 ).Pages }}
        {{ $urlBlogEntry := .RelPermalink}}
        <div class="blog-entry">
            <div class="header">
                {{ .Date.Format "02.01.2006" }}
                <a href="{{ $urlBlogEntry }}">{{ .Title }}</a>
            </div>
            <div class="details">
                <div class="teaser-image">
                    {{ $page := . }}
                    {{ if .Params.Image }}
                    {{ with (.Resources.GetMatch (.Params.Image)).Fit "290x190 webp" }}
                    <a href="{{ $urlBlogEntry }}">
                        <img src="{{ .RelPermalink }}">
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
                <div class="right-side">
                    <div class="intro">
                        {{ with .Summary }}
                        {{ . }}
                        {{ end }}
                    </div>
                    <div class="more"><a href="{{ $urlBlogEntry }}">MEHR...</a></div>
                </div>
            </div>
        </div>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
    {{ .Content }} -->
    {{ partial "totop" }}
{{ end }}

