<!DOCTYPE html>
<html>
    {{- partial "page/head.html" . -}}
    <body>
        <div id="wrapper">
            {{- partial "page/header.html" . -}}
            <div class="main">
                {{ block "left" . }}
                <div class="left-side">
                    <div class="left-menu">
                        {{- partial "page/left_menu" . -}}
                    </div>
                    {{- partial "page/left-announcements" . -}}
                </div>
                {{ end }}
                <div id="content">
                    {{- block "main" . -}}{{- end -}}
                </div>
            </div>
            <div class="mobile-menu">
                <a id="mobile-menu"></a>
                {{- partial "page/mobile-menu" . -}}
            </div>
            {{- partial "page/footer.html" . -}}
        </div>
        <div id="overlay" class="hidden">
            <div class="background"></div>
            <div class="spacer"></div>
            <div class="dialog-column">
                <div class="spacer"></div>
                <div class="dialog">
                    <div class="img">
                        <img>
                    </div>
                </div>
                <div class="spacer"></div>
            </div>
            <div class="spacer"></div>
        </div>
    </body>
</html>
