<!DOCTYPE html>
<html>
    {{- partial "page/head.html" . -}}
    <body>
        <div id="wrapper">
            {{- partial "page/header.html" . -}}
            <div class="main">
                {{ block "left" . }}
                <div class="left-menu">
                    {{- partial "page/left_menu" . -}}
                </div>
                {{ end }}
                <div id="content">
                    {{- block "main" . -}}{{- end -}}
                </div>
            </div>
            {{- partial "page/footer.html" . -}}
        </div>
    </body>
</html>
