{{ define "main" }}
    <a name="top">
        <h1>{{ .Title }}</h1>
    </a>
    <div class="news-blog">
        {{ range (.Paginate (first 10 ( where .Site.RegularPages "Section" "==" "news")) 5 ).Pages }}
        <div class="blog-entry">
            <div class="header">
                {{ .Date.Format "02.01.2006" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            <div class="details">
                <div class="teaser-image">
                    {{ $page := . }}
                    {{ if .Params.Image }}
                    <img src="{{ (.Resources.GetMatch (.Params.Image)).RelPermalink }}">
                    {{ end }}
                </div>
                <div class="intro">
                    {{ with .Summary }}
                    {{ . }}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
    {{ .Content }}
    {{ partial "totop" }}
{{ end }}

{{ define "left" }}<!-- No left side menu -->{{ end }}
