<div id="footer">
    <div class="first-entry">TSC im VfL Sindelfingen</div>
    <div class="last-entry meta-menu">
        <ul>
            <li><a href="https://www.facebook.com/pages/Tanzsportclub-im-VfL-Sindelfingen/140842382700982" class="facebook" target="_blank"></a></li>
            <li><a href="{{ relref . "page/club/impressum" }}">Impressum & Datenschutz</a></li>
            <li><a href="{{ relref . "page/info/sitemap" }}">Sitemap</a></li>
            <li><a href="{{ relref . "page/info" }}">Kontakt</a></li>
        </ul>
    </div>
</div>
