<div id="header">
    <div class="logo-row">
        <a href="/" class="logo">
            <img src="{{ relURL "img/logo.jpg" }}">
        </a>
        <a href="https://www.vfl-sindelfingen.de/" class="logo-vfl">
            <img src="{{ relURL "img/logo_vfl.gif" }}">
        </a>
    </div>
    <div class="slider">
        <img src="{{ relURL "img/banner/Banner-RENOTE.jpg" }}" class="placeholder">
        <img src="{{ relURL "img/banner/Banner-RENOTE.jpg" }}" class="slider-img">
        <img src="{{ relURL "img/banner/Banner-Show2016.jpg" }}" class="hidden slider-img">
        <img src="{{ relURL "img/banner/Banner2019.jpg" }}" class="hidden slider-img">
        <img src="{{ relURL "img/banner/Fotobanner2.jpg" }}" class="hidden slider-img">
        <img src="{{ relURL "img/banner/Paare_2019.jpg" }}" class="hidden slider-img">
        <img src="{{ relURL "img/banner/slider-turnier.jpg" }}" class="hidden slider-img">
        <div class="dots">
            <div data-index="0" class="dot active"></div>
            <div data-index="1" class="dot"></div>
            <div data-index="2" class="dot"></div>
            <div data-index="3" class="dot"></div>
            <div data-index="4" class="dot"></div>
            <div data-index="5" class="dot"></div>
        </div>
    </div>
    <div id="nav-border" class="container nav">
        <nav id="nav" class="nav justify-content-center">
            {{ range .Site.Menus.main }}
                <a class="nav-link{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }} active{{ end }}" href="{{ .URL }}">
                    {{/*{{ if .Pre }}
                        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                        {{ $icon }}
                    {{ end }}*/}}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
            {{ end }}
        </nav>
    </div>
</div>
